@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "Cutive";
  src: url("/fonts/CutiveRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*! Targets menu cards titles: */
.MuiCardHeader-title {
  font-family: "Cutive", serif;
}
/*! Targets menu cards outter background: */
.MuiPaper-root.MuiCard-root {
  background-color: #241f21;
  color: white;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.6) transparent;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  scrollbar-width: thin !important;
  scrollbar-color: rgba(255, 255, 255, 0.6) transparent !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(204, 204, 204, 0.7);
  border-radius: 4px;
  border: none;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(240, 240, 240, 0.8);
}

body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
